In [42]:
# A tuple consists of a number of values separated by commas
t = 111, 222, 'hello'

print('t[0]:', t[0])
print('t:', t)

t[0]: 111
t: (111, 222, 'hello')

In [43]:
# The reverse operation is also possible
x, y, z = t

print(x, y, z)

111 222 hello

In [44]:
# Tuples may be nested
u = t, (1, 2, 3, 4)

print('u:', u)

u: ((111, 222, 'hello'), (1, 2, 3, 4))

In [45]:
# Tuples are immutable
try:
    t[0] = 888
    print(t)
except TypeError as e:
    print('Error:', str(e))

Error: 'tuple' object does not support item assignment

In [51]:
# To change a value of a tuple
tmp = list(t)
tmp[0] = '888'
t = tuple(tmp)

print('t:', t)

t: ('888', 222, 'hello')

In [55]:
# It can contain mutable objects
v = ([1, 2, 3], [3, 2, 1])

print('v:', v)

v: ([1, 2, 3], [3, 2, 1])

In [48]:
# Empty tuples are constructed by an empty pair of parentheses
empty = ()

print('empty:', empty)
print('type:', type(empty))

empty: ()
type: <class 'tuple'>

In [59]:
# A tuple with one item is constructed by following a value 
# with a comma
singleton = 'hello',

print('singleton:', singleton)
print(type(singleton))

singleton: ('hello',)
<class 'tuple'>